@charset "UTF-8";

*{
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    color: white;
    
   
}

strong {
    color: yellow;
}

header{
    height: 200px;
    background-color: black;
  
   
}

section{
    background-color: black;
}
main {
    background-color: black;
    margin: auto;
    min-width: 320px;
    max-width: 1000px;
}

h1 {
    text-align: center;
}
main p {
    margin: auto;
    min-width: 220px;
    max-width: 500px;
}

footer{
    background-color: black;
    width: 100%;
    height: 2%;
    margin: auto;
    bottom: 0;
    position: fixed;
}
footer > p {
    text-align: center;
    color: white;
}