@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    color: white;
    margin: 0px;
    padding: 0px;
    font-family: 'PT Sans', sans-serif;
 
}

:root {
    --cor0: black;
    --cor1: #1E1E1E;
    --cor1:
    --cor1:
    --cor1:

    --fonte-padrao: 'PT Sans', sans-serif;
    --fonte-destaque:
}

body {
    background-color: #1E1E1E;
}
header {
    background-color: #1E1E1E;
    margin: auto;
    min-height: 200px;

}

main {
    background-color: #1E1E1E;

    margin: auto;
    min-width: 320px;
    max-width: 1000px;
  
}

footer{
    background-color: black;
    width: 100%;
    height: 25px;
    margin: auto;
    bottom: 0;
    position: fixed;

}

footer > p {
    text-align: center;
}

footer strong {
    color: yellow;
}

strong {
    color: yellow;
}
