@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('/fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #84E1AD
    
}

header{
    background-color:#22733F;

    padding: 10px 10px 10px 5px;
    margin: auto;
    
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
   
}

.primeiraparte{

    text-align: center;
    color: white;

}

.segundaparte{

    text-align: center;
    color: white;
}

p{
    text-align: justify;
    text-indent: 30px;
}


nav{   
   font-weight: bold;
}

nav > a{
    text-decoration: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px; 
}

nav > a:hover{
    text-decoration: underline;
    
}

main{
    background-color: rgb(255, 255, 255);
    width: 800px;
    padding: 20px;
    margin: auto;
}

h2{
    color: #276644;
    font-family: 'idroid';
}


h3{ 
    
    color: #276644;
    font-family: 'idroid';
    /*background-color: #90d6b178;*/
    background-image: linear-gradient(to left, #ffffff42, #90d6b178);
    background-attachment: fixed;
   
}

iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


div{
    width: 5%;
}
.esquerda{
    display: flex
    
}

.direita{
    display: flex;

}

img {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}