@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('/fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(218, 255, 218);
    
}

header{
    background-color: green;
    padding: 10px 10px 10px 5px;
    margin: auto;
    
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}

p{
    text-align: center;
}

nav{
  
   padding: 0px;
   margin: 0px;

   font-weight: bold;
}

nav > a{
    text-decoration: none;
    color: white;
    padding: auto;
}

nav > a:hover{
    text-decoration: underline;
    
}

main{
    background-color: aqua;
   
    
    width: 600px;
    padding: 20px;
    margin: auto;
}